/* CSS styles used by custom infobox template */
.customInfobox{
  background-color: #fff;
  /* color: #000; */
  /* max-width: 200px; */
  /* border-radius: 10px; */
  width: 300px !important;
  padding: 0 15px 10px 0;
  font-size: 12px;
  pointer-events: auto !important;
  position: absolute;
}

.customInfobox .title{
  font-size: 14px;
  font-weight: bold;
  /* margin-bottom: 5px; */
}

a.customInfoboxCloseButton:link,
a.customInfoboxCloseButton:visited {
  color: #000;
  text-decoration: none;
  position: absolute;
  top: 0px;
  /* right: 0px; */
  left: 302px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

#box-top {
  background-color: #666699;
  height: 25px;
}
#box-center {
  /* float: left; */
  font-size: 15px;
  font-weight: 200;

  height: 20px;
}
#box-center #things {
  /* border: 0 1px 0 0 solid #000; */
  /* border-top: 0; */
  /* width: 72px; */
  padding: 0 5px;
  border-right: 1px solid rgb(58, 66, 79);
  background-color: #cccccc;
}
#box-bottom {
  position: relative;
  /* top: 45px; */
  /* height: 115px; */
  border: 1px solid rgb(58, 66, 79);
}
