/* CSS styles used by custom infobox template */
.customInfobox1,
.customInfobox2,
.customInfobox3,
.customInfobox4 {
  background-color: #fff;
  width: 370px !important;
  padding: 0 15px 10px 0;
  font-size: 12px;
  pointer-events: auto !important;
  position: absolute;
}
.customInfobox1,
.customInfobox2,
.customInfobox4 {
  display: none;
}
.customInfobox1 .title,
.customInfobox2 .title,
.customInfobox3 .title,
.customInfobox4 .title {
  font-size: 14px;
  font-weight: bold;
  /* margin-bottom: 5px; */
}

a.customInfoboxCloseButton:link,
a.customInfoboxCloseButton:visited {
  color: #000;
  text-decoration: none;
  position: absolute;
  top: 0px;
  /* right: 0px; */
  left: 372px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

#box-top {
  background-color: #666699;
  height: 25px;
}
#box-center {
  font-size: 15px;
  font-weight: 200;
  height: 20px;
}
#box-center #things {
  padding: 0 5px;
  border-right: 1px solid rgb(58, 66, 79);
  background-color: #cccccc;
}
#box-bottom {
  position: relative;
  padding-left: 2px;
  border: 1px solid rgb(58, 66, 79);
}
#wuhan_events,
#wuhan_startTime,
#wuhan_influence,
#hubei_startTime,
#hubei_events,
#hubei_influence,
#nation_startTime,
#nation_events,
#nation_influence,
#others_startTime,
#others_events,
#others_influence {
  color: black;
  width: 300px;
  display: inline-block;
}
